gh-pages/
build/

__pycache__/

**.sk
**.pk
**.out
**.ptxt
**.ctxt

src/fhe.a
src/*.o
src/*_x
src/*_x.exe

Makefile-*
src/makedep.d
src/*_x.dSYM
src/*.sh
src/*.bin
src/*.txt

**.bak
**.swp
**.DS_Store

# Exception for sample files
!src/misc/iotest_asciiBE.txt
!src/misc/iotest_asciiLE.txt
!src/misc/iotest_binBE.bin
!src/misc/iotest_binLE.bin
/html/
/latex/
