language: cpp
notifications:
  email: false

# branches:
#   only:
#   - master
jobs:
  include:
    - name: "Ubuntu 18.04 lib build gcc"
      os: linux
      dist: bionic
      compiler: gcc
      env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    - name: "Ubuntu 20.04 lib build gcc"
      os: linux
      dist: focal
      compiler: gcc
      env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    # - name: "Ubuntu 18.04 lib build clang"
    #   os: linux
    #   dist: bionic
    #   compiler: clang
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    # - name: "Ubuntu 20.04 lib build clang"
    #   os: linux
    #   dist: focal
    #   compiler: clang
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    # - name: "Ubuntu 18.04 package build gcc"
    #   os: linux
    #   dist: bionic
    #   compiler: gcc
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
    # - name: "Ubuntu 20.04 package build gcc"
    #   os: linux
    #   dist: focal
    #   compiler: gcc
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
    # - name: "Ubuntu 18.04 package build clang"
    #   os: linux
    #   dist: bionic
    #   compiler: clang
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
    # - name: "Ubuntu 20.04 package build clang"
    #   os: linux
    #   dist: focal
    #   compiler: clang
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
    # - name: "MacOS Mojave lib build"
    #   os: osx
    #   osx_image: xcode11.3
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    # - name: "MacOS Mojave package build"
    #   os: osx
    #   osx_image: xcode11.3
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
    # - name: "MacOS Catalina lib build"
    #   os: osx
    #   osx_image: xcode12
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=OFF
    # - name: "MacOS Catalina package build"
    #   os: osx
    #   osx_image: xcode12
    #   env: INSTALL_PREFIX="~/ci_test" PACKAGE_BUILD=ON
      

addons:
  apt:
    packages:
    - g++
    - clang
    - patchelf
    - cmake
    - bats
    update: true
  homebrew:
    packages:
    - cmake
    - bats-core
    update: true

# before_install:
#   - skip

install:
  - ./ci/install_deps.sh

# before_script:
#   - skip

script:
  - ./ci/build_install_lib.sh "${PACKAGE_BUILD}" "${INSTALL_PREFIX}"
  - ./ci/test_lib.sh
  - ./ci/build_test_consumer.sh "example" "${PACKAGE_BUILD}" "${INSTALL_PREFIX}"
