INC_NTL=$HOME/ntl-10.5.0/include
INC_GMP=
LIB_NTL=$HOME/ntl-10.5.0
LIB_GMP=

# Overwrite COPT, don't use -O2
COPT=-g

# No Armadillo support, overwrite CFFT and ARMA (this is very slow)
CFFT=-DFFT_NATIVE
ARMA=
